<%= form_for ([@mentor, @mentor.reservations.new]) do |f| %>
  <%= f.text_field :start_date, placeholder: 'Enter start date' %>
  <%= f.text_field :end_date, placeholder: 'Enter end date' %>
  <%= f.hidden_field :mentor_id, value: @mentor.id %>
  <%= f.hidden_field :price, value: @mentor.price %>
  <div id="finalPrice">0</div>
  <br>
  <%= f.submit "Book Now", class: "btn" %>
<% end %>
